

NET "CLK" LOC = P123;
NET "TX" LOC = P124;
NET "RX" LOC = P127;
NET "RX_LED" LOC = P81;
NET "TX_ACTIVE" LOC = P74;
NET "TX_DONE" LOC = P75;


NET "OUTPUT_DATA[7]" LOC = P84;
NET "OUTPUT_DATA[6]" LOC = P85;
NET "OUTPUT_DATA[5]" LOC = P87;
NET "OUTPUT_DATA[4]" LOC = P88;
NET "OUTPUT_DATA[3]" LOC = P92;
NET "OUTPUT_DATA[2]" LOC = P93;
NET "OUTPUT_DATA[0]" LOC = P95;
NET "OUTPUT_DATA[1]" LOC = P94;
NET "RX_EN" LOC = P78;


# NET "IS_SEND" LOC = P79;



# INPUT
NET "MODE_BUTTON" LOC = P45;
NET "SEND_BUTTON" LOC = P46;
NET "SEND_BUTTON" CLOCK_DEDICATED_ROUTE = FALSE;

NET "LED_DEBUG" LOC = P80;




NET "SEGMENT_GROUNDS[3]" LOC = P30;
NET "SEGMENT_GROUNDS[2]" LOC = P33;
NET "SEGMENT_GROUNDS[1]" LOC = P43;
NET "SEGMENT_GROUNDS[0]" LOC = P44;


NET "SEGMENTS[0]" LOC = P41;
NET "SEGMENTS[1]" LOC = P40;
NET "SEGMENTS[2]" LOC = P35;
NET "SEGMENTS[3]" LOC = P34;
NET "SEGMENTS[4]" LOC = P32;
NET "SEGMENTS[5]" LOC = P29;
NET "SEGMENTS[6]" LOC = P27;

NET "SEGMENT_DOT" LOC = P26;

# PlanAhead Generated physical constraints 

NET "RESET_BUTTON" LOC = P51;
NET "RESET_SECOND_BUTTON" LOC = P55;

NET "INPUT_DATA[1]" LOC = P62;
NET "INPUT_DATA[2]" LOC = P61;
NET "INPUT_DATA[3]" LOC = P59;
NET "INPUT_DATA[4]" LOC = P58;
NET "INPUT_DATA[5]" LOC = P57;
NET "INPUT_DATA[6]" LOC = P56;
# NET "INPUT_DATA[7]" LOC = P55;

# OUTPUT
NET "MODE_LED" LOC = P82;

