//! **************************************************************************
// Written by: Map P.20131013 on Thu May 26 02:34:40 2022
//! **************************************************************************

SCHEMATIC START;
COMP "RESET_BUTTON" LOCATE = SITE "P51" LEVEL 1;
COMP "RX" LOCATE = SITE "P127" LEVEL 1;
COMP "TX" LOCATE = SITE "P124" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "TX_DONE" LOCATE = SITE "P75" LEVEL 1;
COMP "RX_EN" LOCATE = SITE "P78" LEVEL 1;
COMP "TX_ACTIVE" LOCATE = SITE "P74" LEVEL 1;
COMP "PLUS_BUTTON" LOCATE = SITE "P48" LEVEL 1;
COMP "OUTPUT_DATA<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "OUTPUT_DATA<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "OUTPUT_DATA<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "OUTPUT_DATA<3>" LOCATE = SITE "P92" LEVEL 1;
COMP "OUTPUT_DATA<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "OUTPUT_DATA<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "OUTPUT_DATA<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "OUTPUT_DATA<7>" LOCATE = SITE "P84" LEVEL 1;
COMP "SEGMENT_DOT" LOCATE = SITE "P26" LEVEL 1;
COMP "RX_LED" LOCATE = SITE "P81" LEVEL 1;
COMP "MINUS_BUTTON" LOCATE = SITE "P47" LEVEL 1;
COMP "RESET_SECOND_BUTTON" LOCATE = SITE "P55" LEVEL 1;
COMP "INPUT_DATA<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "INPUT_DATA<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "INPUT_DATA<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "INPUT_DATA<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "INPUT_DATA<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "INPUT_DATA<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "INPUT_DATA<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "MODE_BUTTON" LOCATE = SITE "P45" LEVEL 1;
COMP "SEGMENT_GROUNDS<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "SEGMENT_GROUNDS<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "SEGMENT_GROUNDS<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "SEGMENT_GROUNDS<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "SEGMENTS<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEGMENTS<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEGMENTS<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEGMENTS<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEGMENTS<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEGMENTS<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEGMENTS<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "LED_DEBUG" LOCATE = SITE "P80" LEVEL 1;
COMP "MODE_LED" LOCATE = SITE "P82" LEVEL 1;
COMP "SEND_BUTTON" LOCATE = SITE "P46" LEVEL 1;
PIN SEND_BUTTON_pin<0> = BEL "SEND_BUTTON" PINNAME PAD;
PIN "SEND_BUTTON_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

