//! **************************************************************************
// Written by: Map P.20131013 on Mon May 09 18:39:27 2022
//! **************************************************************************

SCHEMATIC START;
COMP "TX_EN" LOCATE = SITE "P47" LEVEL 1;
COMP "INPUT_DATA<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "INPUT_DATA<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "RX" LOCATE = SITE "P127" LEVEL 1;
COMP "INPUT_DATA<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "INPUT_DATA<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "TX" LOCATE = SITE "P124" LEVEL 1;
COMP "INPUT_DATA<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "INPUT_DATA<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "INPUT_DATA<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "INPUT_DATA<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "TX_ACTIVE" LOCATE = SITE "P67" LEVEL 1;
COMP "TX_DONE" LOCATE = SITE "P74" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

