

NET "INPUT_DATA[7]" LOC = P55;
NET "INPUT_DATA[6]" LOC = P56;
NET "INPUT_DATA[5]" LOC = P57;
NET "INPUT_DATA[4]" LOC = P58;
NET "INPUT_DATA[3]" LOC = P59;
NET "INPUT_DATA[2]" LOC = P61;
NET "INPUT_DATA[1]" LOC = P62;
NET "INPUT_DATA[0]" LOC = P66;
NET "CLK" LOC = P123;
NET "TX" LOC = P124;
NET "RX" LOC = P127;
NET "TX_ACTIVE" LOC = P67;
NET "TX_EN" LOC = P47;
NET "TX_DONE" LOC = P74;

# PlanAhead Generated physical constraints 

NET "OUTPUT_DATA[7]" LOC = P84;
NET "OUTPUT_DATA[6]" LOC = P85;
NET "OUTPUT_DATA[5]" LOC = P87;
NET "OUTPUT_DATA[4]" LOC = P88;
NET "OUTPUT_DATA[3]" LOC = P92;
NET "OUTPUT_DATA[2]" LOC = P93;
NET "OUTPUT_DATA[0]" LOC = P95;
NET "OUTPUT_DATA[1]" LOC = P94;
NET "RX_EN" LOC = P75;
